#subtle_overlay {
    background: #f3f3f3;
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 50px;
    display: block;
    padding: 5px 8px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 8px #999;
    border: 2px solid #efefef;
    width: 160px;
    text-align: center;

    .title {
        font-weight: bold;
        display: block;
        text-align: center;
        font-size: 16px;
        padding: 5px;
        a {
            color: #222;
        }

        .download {
            font-size: 11px;
            text-decoration: none;
            color: #666;
        }
    }

    .controls {
        text-align: center;
        padding: 10px;
        color: #666;

        .previous, .next {
            text-decoration: none;
            font-weight: bold;
            font-size: 35px;
            color: #666;
            vertical-align: middle;
            font-family: Helvetica, 'DejaVu Sans', 'Arial Unicode MS', 'Lucida Sans Unicode', sans-serif;
            text-shadow: 0 0 1px #aaa;

            &:hover {
                color: #888;
            }

            &:active {
                color: #666;
            }
        }
    }

    .category {
        margin: 5px 0 10px 0;
    }

    .about {
        font-size: 11px;
        line-height: 15px;
        color: #777;
        a {
            color: #777;
        }

    }
}
