.bookmarklet_container {
  margin: 30px auto 30px auto;
  min-height: 180px;
  width: 180px;
  position: relative;
}
#subtlepatterns_bookmarklet.homepage {
  left: auto;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  padding-bottom: 4px;
  border-radius: 5px;
}
.share-buttons {
  margin-top: 18px;
}
.clear {
  clear: both;
}
body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: url("http://bradjasper.com/subtle-patterns-bookmarklet/patterns/old_mathematics.png") repeat;
}
.bookmarklet_button {
  text-align: center;
}
.bookmarklet_button .btn {
  cursor: move;
}
.bookmarklet_button small {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #777;
  font-style: italic;
  margin-top: 5px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.information {
  margin-top: 100px;
  color: #333;
  font-size: 15px;
}
.footer {
  margin-top: 50px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
