.bookmarklet_container {
  margin: 30px auto 50px auto;
  min-height: 180px;
  width: 180px;
  position: relative;
}
#subtlepatterns_bookmarklet.homepage {
  left: auto;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  padding-bottom: 4px;
  border-radius: 5px;
}
.try-it-out {
  position: absolute;
  left: 500px;
  top: 10px;
}
.share-buttons {
  margin-top: 18px;
}
.clear {
  clear: both;
}
body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: url("http://bradjasper.com/subtle-patterns-bookmarklet/patterns/old_mathematics.png") repeat;
}
.bookmarklet_button {
  text-align: center;
}
.bookmarklet_button .btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7bb33d;
  font-size: 20px;
  font-weight: 300;
  background-image: -moz-linear-gradient(top, #80bb3f, #73a839);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80bb3f), to(#73a839));
  background-image: -webkit-linear-gradient(top, #80bb3f, #73a839);
  background-image: -o-linear-gradient(top, #80bb3f, #73a839);
  background-image: linear-gradient(to bottom, #80bb3f, #73a839);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff80bb3f', endColorstr='#ff73a839', GradientType=0);
  border-color: #73a839 #73a839 #4c6f26;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #73a839;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  cursor: move;
  padding: 14px 23px;
}
.bookmarklet_button .btn-success:hover,
.bookmarklet_button .btn-success:active,
.bookmarklet_button .btn-success.active,
.bookmarklet_button .btn-success.disabled,
.bookmarklet_button .btn-success[disabled] {
  color: #ffffff;
  background-color: #73a839;
  *background-color: #669533;
}
.bookmarklet_button small {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #777;
  font-style: italic;
  margin-top: 5px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.information {
  margin-top: 100px;
  color: #333;
  font-size: 15px;
}
.content {
  position: relative;
}
.footer {
  margin-top: 50px;
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.spb-dark h1,
.spb-dark h2,
.spb-dark h3,
.spb-dark h4,
.spb-dark h5,
.spb-dark h6,
.spb-dark p {
  color: #f0f0f0;
}
@media (max-width: 480px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 80%;
  }
}
